.heading{
    width: 100%;
    text-align: left;
    background-color: violet;
}

.heading h3{
    display: inline;
    font-size: 30px;
}

 #Instruct{
    float: right;
    border: 1px solid white;
    background-color: violet;
    height: 30px;
    font-size: 15px;
}

